.avatar{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 50px;
    border-radius: 8px;
}
.avatar-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -50px;
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.other-info{
    background-color: rgb(241, 169, 169);
}

.total-amount{
    display: flex;
    justify-content: center;
}
ul {
  list-style: none;
}


/*------------------------ PROFILE -------------------*/
body{
    margin: 0%;
}
.topSpace{
    height: 70px;
    background-color: cadetblue;
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: honeydew;
    margin-top: 50px;
    border-radius: 8px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: bisque;
    padding-bottom: 2%;
}
.section-information{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section1, .section2{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
}
.section1{
    border-right: 1px solid black;
}

.basic-info{
    justify-content: space-around;
    
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    padding: 2%;
    border: 1px solid black;
  
}
.item2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: aqua;
    padding: 2%;
    border: 1px solid black;
  
}
.item-button{
    display: flex;
    justify-content: end;
}
.item-checkbox{
    display: grid;
    grid-template-columns: 7% 93%;
}

span{
    font-weight: bold;
}


/* ------- Mobile --------*/

@media only screen and (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2%;
    }
    .section1, .section2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

