.avatar{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 50px;
    border-radius: 8px;
}
.avatar-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -50px;
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.other-info{
    background-color: rgb(241, 169, 169);
}

.total-amount{
    display: flex;
    justify-content: center;
}
ul {
  list-style: none;
}


/*------------------------ PROFILE -------------------*/

li {
    background-color: #dcdcdc;
    width: 100%;
    padding: 5%;
    border: 1px solid #808080;
}
.topSpace{
    height: 150px;
    background-color: cadetblue;
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: honeydew;
    margin-top: 50px;
    border-radius: 8px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: bisque;
}
.section-information{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.section1{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
}
.section2{
    width:50%;
    padding: 2%;
}
.basic-info{
    justify-content: space-around;
    
}
.nestedUl{
    margin-top:-30px;
    margin-right: -500px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.item1, .item2 {
    grid-column: 1 / span 2;
}